@import "./KeyFrames.css";
img#corner{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 6px;
    left: 342px;
    animation-name: fade ;
    animation-duration: 1s;
}


#banner {
    background-color: grey;
    color: black;
    width: 1079px;
    height: 14px;
    position: fixed;
    top: 113px;
    left: 332px;
    font-size: x-large;
    font-family: Impact;
}

a{
color:black;
padding-left: 0px;
animation-name: UnHoverAnim;
animation-duration: 0.5s;
}
html { overflow-y: scroll; }
div#menu {
   
    color: white;
    width: 111px;
    height: 699px;
    position: fixed;
    top: 136px;
    font-family: Verdana;
    left: 325px;
    border-right-color: #36454F;
    border-right-style: solid;
    animation-name: Menu;
    animation-duration: 1.5s;
}

a#HasHoverLink:hover{
    
    animation-name: HoverAnim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
a#HasHoverLink{
    animation-name: UnHover;
    animation-duration: 0.5s;
    
    
}
div#content {
    
    background-color: grey;
    color: black;
  
    width: 962px;
    height: 700px;
    position: fixed;
    top: 136px;
    left: 449px;
    font-family: Verdana;
    animation-name: ex;
    animation-duration: 1s;
}

#skillphoto{
    position: fixed;
    width: 440px;
    height: 440px;
    top: 365px;
    left: 935px;
    z-index: 3;
    animation-name: SkillPhoto;
    animation-duration: 1s;
}
#WorkSamplePhoto{
    position: fixed;
    width: 440px;
    height: 440px;
    top: 365px;
    left: 935px;
    z-index: 0;
    animation-name: SkillPhoto;
    animation-duration: 1s;
}
p#menu{
    margin-left: 5px;
}
p#content {
   position: fixed;
   left: 464px;
   top: 136px;
   font-size: 20px;
   background: none !important;
   z-index: 2;
   animation-name: fade;
   animation-duration: 1.5s;
   animation-timing-function: ease-in;
   
}
#contentp {
    position: fixed;
    left: 1080px;
    top: 746px;
    font-size: 24px;
    
    background: none !important;
    z-index: 2;
    animation-name: fade;
   animation-duration: 1.5s;
   animation-timing-function: ease-in;
  
 }

#footer {
    border-top-color: #36454F;
    border-top-style: solid;
    color: black;
    width: 1073px;
    height: 77px;
    position: fixed;
    top: 843px;
    left: 330px;
    padding-left: 10px;
    font-family: Verdana;
}

h1#menu{
    position: fixed;
    top: 17px;
    left: 466px;
    background: none !important;
}
#contentp2{
    padding-left: 52px;
    padding-top: 33px;
    background: none !important;
    font-size: 50px;
    font-family: Impact;
  
}
#hr2{
    border: 5px solid black;
   
}
#SkillsList{
   padding-left: 20px;
    color: black;
    background: none !important;
    font-size: large;
    line-height: 30px;
}
#Hobbies{
    background: none !important;
    position: fixed;
    top: 356px;
    left: 495px;
    color: black;
    background: none !important;
    font-size: large;
    line-height: 30px;
  
}
#hobbylist{

font-size: 25px;
line-height: 40px;

}
#hobbylink:hover{
    animation-name: HobbyHoverAnim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#hobbylink{
    animation-name: UnHoverHobby;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#Table{
    color: black;
    border-color: black;
    background: none !important;
    padding-left: 20px;
   text-align: center;
 
}
#HobbyPhoto{
    background:none !important;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 418px;
    left: 1074px;
    animation-name: HobbyPhoto;

    animation-duration: 1s;
}
#Bio{
    background: none !important;
    width: 540px;
    height: 300px;
    left: 480px;
    top: 396px;
    line-height:50px;
    padding-left:20px;
    font-size: x-large;
    animation-name:Bio;
    animation-duration: 1s;
}
#APhoto{
    position: fixed;
    animation-name: APhoto;
    animation-duration: 1s;
    width: 420px;
    height: 420px;
    left: 720px;
    top: 396px;
    background-color: red;
}
#WorkSampleLink{
    animation-name: WorkSampleLinkUH;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}
#WorkSampleLink:hover{
    animation-name: WorkSampleLinkH;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#WorkSample{
    background: none !important;
    width: 446px;
    height: 300px;
    left: 444px;
    top: 396px;
    line-height:50px;
    padding-left:30px;
    font-size: x-large;
    animation-name:Bio;
    animation-duration: 1s;
}